{% extends 'base.html' %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="card-title">List of Students</h4>
                                <div class="card-category">Page Subtitle</div>
                            </div>

                            <!-- 🌟 Add button links to our Student Form path -->
                            <a href="{% url 'student-add' %}" class="btn btn-success btn-rounded">Add Student</a>
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'organization-list' %}">
                            <div class="input-group">
                                <input type="text" placeholder="Search ..." class="form-control" name="q" />

                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-search search-icon"></i>
                                    </span>
                                </div>
                            </div>    
                        </form>
                    </div> 


                    <div class="card-body">
                        <!-- Table grid structure matching your organization view exactly -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Student ID</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Program</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ student.student_id }}</td>
                                    <td>{{ student.lastname }}</td>
                                    <td>{{ student.firstname }}</td>
                                    <td>{{ student.program.prog_name }}</td>
                                    <!-- 🌟 Action Buttons passing our model unique primary keys -->
                                    <td class="text-center">
                                        <a href="{% url 'student-update' student.pk %}" class="text-primary mr-2">Edit</a>
                                        <a href="{% url 'student-delete' student.pk %}" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center text-muted">No student records found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
